  <div id="left_box">
    <div id="login_box">
      <div style="margin-top: 25%;margin-left: 15%;">
        <div class="col-xs-10">
          <div class="login-panel panel panel-default">
            <div class="panel-heading">LOGIN</div>
            <div class="panel-body">
              <form role="form" method="get" action="/home">
                <fieldset>
                  <div class="form-group">
                    <input class="form-control" placeholder="user@example.com" name="email" type="email" autofocus="">
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="***********" name="password" type="password" value="">
                  </div>

                  <input type="submit" class="btn btn-danger" style="float: right " value="LOGIN">
                </fieldset>
              </form>
            </div>
          </div>
        </div><!-- /.col-->
      </div>
    </div>
  </div>
  <div id="right_box" style="text-align: center;padding-top: 5%">
<span class="header" style="font-size: 50px;color:white;font-family: Arial;">WELCOME</span>
    <p>
    <span class="details" style="font-size: 20px;color:white;font-family: 'Agency FB';">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
  </p>
  </div>
