  <div id="left_box">
    <div id="login_box">
      <div style="margin-top: 25%;margin-left: 15%;">
        <div class="col-xs-10">
          <div class="login-panel panel panel-default">
            <div class="panel-heading">LOGIN</div>
            <div class="panel-body">
              <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}
              </div>
              <form role="form" method="post" (ngSubmit)="login()" #loginForm="ngForm">
                <fieldset>
                  <div class="form-group">
                    <input class="form-control" placeholder="USERNAME" [(ngModel)]="loginData.username" required name="username" type="text" autofocus="">
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="***********" [(ngModel)]="loginData.password" required name="password" type="password" value="">
                  </div>

                  <input type="submit" [disabled]="!loginForm.form.valid"  class="btn btn-danger" style="float: right " value="LOGIN">
                </fieldset>
              </form>
            </div>
          </div>
        </div><!-- /.col-->
      </div>
    </div>
  </div>
  <div id="right_box" style="text-align: center;padding-top: 5%">
<span class="header" style="font-size: 25px;color:white;font-family: Arial;"> Public Waste Management - Internet of Things</span>
    <p>
    <span class="details" style="font-size: 25px;color:white;font-family: 'Agency FB';">
      <br><br>Created by: </span>
  </p>
  <p style="font-size: 25px;color:white;font-family: 'Agency FB';">HASH</p>
  <br><br><br>
  <p style="font-size: 25px;color:white;font-family: 'Agency FB';">Year:</p> 
  <p style="font-size: 25px;color:white;font-family: 'Agency FB';">2018</p>
  </div>
