<app-header></app-header>
<div style="margin-top: 4%"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">
        <em class="fa fa-home"></em>
      </a></li>
      <li class="active">Bins Management</li>
    </ol>
  </div><!--/.row-->


  <!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Manage Bins

        </div>

        <div id="manage_bin" style="width: 60%;margin-left:15%;margin-top:5%">

          <form  role="form" method="post" #assignForm="ngForm" (ngSubmit)="assignUser()">
            <div class="form-group ">
              <label for="userEmail">User Email</label>
              <select  [(ngModel)]="binAssign.userEmail" required name="userEmail" class="form-control" id="userEmail">
                <option [value]="ue" *ngFor="let ue of binAssign.userEmail">{{ue}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="binTitle">Bin Title</label>
              <select  [(ngModel)]="binAssign.binTitle" required name="binTitle" class="form-control" id="binTitle">
                <option [value]="bn" *ngFor="let bn of binAssign.binTitle">{{bn}}</option>
              </select>
            </div>
            <div class="modal-footer">
              <input type="submit"  class="btn btn-primary" style="float: right"  value="Assign User">
            </div>
          </form>


        </div>

        <div id="manage_tresh" style="width: 60%;margin-left:15%;margin-top:-25%">

          <form  role="form" method="post" #assignForm="ngForm" (ngSubmit)="assignThres()">
            <div class="form-group ">
              <div class="form-group">
                <label for="binTitleL">Bin Title</label>
                <select  [(ngModel)]="binThres.hardwareName" required name="hardwareName" class="form-control" id="binTitleL">
                  <option [value]="bn" *ngFor="let bn of binThres.hardwareName">{{bn}}</option>
                </select>
              </div>
              <label for="tresh">Bin Threshold</label>
              <input  [(ngModel)]="binThres.binThreshold" required name="binThreshold" class="form-control" id="tresh" />
            </div>
            <label for="cond">Bin Condition</label>
            <input  [(ngModel)]="binThres.condition" required name="condition" class="form-control" id="cond" />


            <div class="modal-footer">
              <input type="submit"  class="btn btn-primary" style="float: right"  value="Add Threshold">
            </div>
          </form>


        </div>

      </div>
    </div><!--/.row-->

    <app-footer></app-footer>
    <!--/.row-->
  </div>	<!--/.main-->
</div>

