
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
            <a class="navbar-brand"  [routerLink]="['/home']"><span>W M </span>S</a>


            <ul class="nav navbar-top-links navbar-right">
                <li *ngIf="userType=='users'" class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" style="cursor: pointer" (click)="notSeen()">
                    <em class="fa fa-bell"></em><span class="label label-danger" *ngFor="let msgNot of msgNotification"><span *ngFor="let msgN of msgNot"><div *ngIf="msgN.is_active==true"><span style="width:0.5px;height:0.5px;background: red" [hidden]="seenMsg">New</span></div></span></span>
                </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li *ngFor="let msgNot of msgNotification">
                            <div class="dropdown-messages-box">
                                <div class="message-body" *ngFor="let msgN of msgNot" >
                                    <small class="pull-right"></small>
                                    <span>
                                        <strong>{{msgN.location_precinct}}</strong> Bin <strong>Has Been Assigned</strong> To You.
                                    </span>
                                    <br />
                                    <small class="text-muted">Hardware ID: {{msgN.hardware_id}}</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="all-button"><a href="#">
                            </a></div>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div><!-- /.container-fluid -->
</nav>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">

        <div class="profile-usertitle">
            <div class="profile-usertitle-name" style="text-transform: uppercase">{{fullName}}</div>
            <div class="profile-usertitle-status" style="text-align: center"><span class="indicator label-success"></span>{{userType}}</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>

    <ul class="nav menu changeMenu">
        <li  style="cursor: pointer"><a [routerLink]="['/home']"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
        <li style="cursor: pointer"><a *ngIf="userType === 'admin'" [routerLink]="['/user_management']"><em class="fa fa-user">&nbsp;</em> User Management</a></li>
        <li  style="cursor: pointer"><a  *ngIf="userType !== 'users'" [routerLink]="['/bin_management']"><em class="fa fa-edit">&nbsp;</em> Bin Management</a></li>
        <hr/>
        <li><a  (click)="logout()" style="cursor: pointer"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
    </ul>
</div><!--/.sidebar-->

